@page
@model ChalmersBookExchange.Domain.Post
@using ChalmersBookExchange.Controllers
@using Microsoft.AspNetCore.Identity

@inject IUserController _userController
@inject IPostController _postController

@inject UserManager<IdentityUser> UserManager

<h1>My Posts</h1>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Book Name</th>
            <th>Course Code</th>
            <th>Price</th>
            <th>Location</th>
            <th>Shippable</th>
            <th>Meetup</th>
        </tr>
        </thead>
        <tbody>
         

             @foreach (var post in _postController.GetMyPosts(_userController.RetrieveID(@User.Identity.Name)))
             {
                 <tr>
                     <td>@post.BookName</td>
                     <td>@post.CourseCode</td>
                     <td>@post.Price:-</td>
                     <td>@post.Location</td>
                     <td>@post.Shippable</td>
                     <td>@post.Meetup</td>
                     <td> <a asp-action="Delete" asp-route-id="@post.ID">Delete</a></td>
                      <td> <a asp-action="EditPost" asp-route-id="@post.ID">Edit</a></td>

                 </tr>
             
             }  
      
        </tbody>
</table>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
     
}


   
