@page
@using ChalmersBookExchange.Controllers
@inject IPostController _postController
@inject IUserController _userController



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="@Url.Content("~/css/button.css")">

<div style="display: flex;
              justify-content: space-between;" >
    <h1 align="left">@ViewBag.Title</h1>
    <div class="form-group form-inline">
    <label for="sort">Sort by: </label>
        <form action="Sort" method="post">
            <select name="Sort" id="sort" onchange="this.form.submit()">
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="alphabetical" selected>Alphabetical order</option>
                <option value="priceAsc">Price ascending</option>
                <option value="priceDesc">Price descending</option>
            </select>
        </form>
        </div>
</div>

<div>
    <table class="table table-striped">
            <thead>
            <tr>
                <th>Image</th>
                <th>Book Name</th>
                <th>Course Code</th>
                <th>Price</th>
                <th>Location</th>
                <th>Shippable</th>
                <th>Meetup</th>
                <th>Poster</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var post in _postController.GetAllPostsAlphabetical())
            {
                <tr>
                      @if (post.Images is not null)
                      {
                          <td> <img width="auto" height="64" src="@_postController.RetrieveImage(post.ID)" alt="@post.BookName"/> </td>
                      }
                      else
                      {
                          <td><i class="fa fa-question"></i></td>
                      }                      
                    <td>@post.BookName</td>
                    <td>@post.CourseCode</td>
                    <td>@post.Price:-</td>
                    <td>@post.Location</td>
                    @if (post.Shippable)
                    {
                        <td align="center"> <i class="fa fa-check"></i></td>
                    }
                    else
                    {
                        <td align="center"><i class="fa fa-times"></i></td>
                    }
                    @if (post.Meetup)
                    {
                        <td align="center"> <i class="fa fa-check"></i></td>
                    }
                    else
                    {
                        <td align="center"><i class="fa fa-times"></i></td>
                    }
                    <td>@_userController.RetrieveName(post.Poster)</td>
                    <td>
                        <a asp-action="GoToPost" asp-route-id="@post.ID">
                            <button class="btn" id="EditButton" onclick="popupText()">
                                <i class="fa fa-external-link-alt"></i>
                            </button>
                        </a></td>
                    <!--<td><a asp-action="AddFavorite" asp-route-id="@post.ID" asp-route-email="@ViewBag.ThisUser"><button class="btn"> <div class="popup" onclick="myFunction()"><i class="fa fa-heart"></i>
                        <span class="popuptext" id="myPopup">Added to favorite!</span>
                    </div></button></a></td> -->
                    <!-- <td> @Html.ActionLink("Add Fav", "AddFavorite", "Home", new {id = post.ID, email = ViewBag.ThisUser}, null)</td> -->
                    <td>
                        @if (ViewBag.ThisUser != null && _postController.IsAFavorite(post.ID, ViewBag.ThisUser))
                        {
                            <a asp-action="RemoveFavorite" asp-route-id="@post.ID" asp-route-email="@ViewBag.ThisUser">
                                <button class="btn" id="isFavorite" onclick="popupText()">
                                    <i class="fa fa-heart"></i>
                                </button></a>
                        }
                        else if (ViewBag.ThisUser != null && (_postController!.IsAFavorite(post.ID, ViewBag.ThisUser) || !post.Poster.Equals(_userController.RetrieveID(ViewBag.ThisUser))))
                        {
                            <a asp-action="AddFavorite" asp-route-id="@post.ID" asp-route-email="@ViewBag.ThisUser">
                                <button class="btn" id="isNotFavorite" onclick="popupText()">
                                    <i class="fa fa-heart"></i>
                                </button></a>
                        }
                        else if (ViewBag.ThisUser == null)
                        {
                            <a asp-area="Identity" asp-page="/Account/Login"> <button class="button" id="notSignedIn"><span>Sign in to add favorite </span> </button></a>
                        }
                        else
                        {
                            <a asp-action="EditPost" asp-route-id="@post.ID">
                                <button class="btn" id="EditButton" onclick="popupText()">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </a>
                        }


                    </td>
                </tr>
            }
            </tbody>
    </table>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}