@page
@using ChalmersBookExchange.Controllers
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject IPostController _postController
@inject IUserController _userController

<link rel="stylesheet" href="@Url.Content("~/css/button.css")">


@{
    var post = _postController.GetPostById(new Guid(ViewBag.Message));
}
<div>
    <div>
        <h1>@post.BookName </h1>
        <h2>@post.CourseCode</h2>
    </div>
        
    <div>
        @if (post.Images is not null)
        {
            <td> <img width="auto" height="400px" src="@_postController.RetrieveImage(post.ID)" alt="@post.BookName"/> </td>
        }
    </div>
    <div>
        <h2>@post.Price.ToString() kr</h2>
        <p>Description: <br>@post.Description</p>
    </div>
</div>
@if (post.Shippable)
{
    <p>The seller can ship this book</p>
}
@if (post.Meetup)
{
    <p>The seller can meet up to sell this book</p>
    <p>The seller is located in @post.Location</p>
}

@if (post.Poster != @_userController.RetrieveID(@User.Identity.Name))
{
    <div>
        <p>This book is sold by @_userController.RetrieveNameById(@post.Poster)</p>
        <a asp-action="AddContact" asp-route-contactToAdd="@post.Poster" asp-route-loggedInUser="@_userController.RetrieveID(@User.Identity.Name)">
            <button class="btn btn-primary">
                Message the seller
            </button>
        </a>
    </div> 
}




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}