@page
@using ChalmersBookExchange.Controllers

@inject IPostController _postController
@inject IUserController _userController


<h1>@ViewBag.Title</h1>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="@Url.Content("~/css/favorite.css")">

 <script>  
// When the user clicks on div, open the popup
function popupText() {
  var popup = document.getElementById("isNotFavorite");
  popup.classList.toggle("show");
}


      </script>

<label for="sort">Sort by:</label>
<form action="Sort" method="post">
    <select name="Sort" id="sort" onchange="this.form.submit()">
        <option value="newest" selected>Newest</option>
        <option value="oldest">Oldest</option>
        <option value="alphabetical">Alphabetical order</option>
        <option value="priceAsc">Price ascending</option>
        <option value="priceDesc">Price descending</option>
    </select>
</form>


<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Course Code</th>
                <th>Price</th>
                <th>Location</th>
                <th>Shippable</th>
                <th>Meetup</th>
                <th>Poster</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var post in _postController.GetAllPosts())
        {
            <tr>
                <td>@post.BookName</td>
                <td>@post.CourseCode</td>
                <td>@post.Price:-</td>
                <td>@post.Location</td>
                @if (post.Shippable)
                {
                    <td align = "center"> &#x2714</td>
                }
                else
                {
                    <td align = "center"> &#10008</td>
                }
                @if (post.Meetup)
                {
                    <td align = "center"> &#x2714</td>
                }
                else
                {
                    <td align = "center"> &#10008</td>
                }
                <td>@_userController.RetrieveName(post.Poster)</td>
                <td> <a asp-action="GoToPost" asp-route-id="@post.ID">Go to Post</a></td>
                <!--<td><a asp-action="AddFavorite" asp-route-id="@post.ID" asp-route-email="@ViewBag.ThisUser"><button class="btn"> <div class="popup" onclick="myFunction()"><i class="fa fa-heart"></i>
                      <span class="popuptext" id="myPopup">Added to favorite!</span>
                    </div></button></a></td> -->
                <!-- <td> @Html.ActionLink("Add Fav", "AddFavorite", "Home", new { id=post.ID, email = ViewBag.ThisUser}, null)</td> -->
                <td>
                    @if (ViewBag.ThisUser != null && _postController.IsAFavorite(post.ID, ViewBag.ThisUser))
                    {
                        <a asp-action="RemoveFavorite" asp-route-id="@post.ID" asp-route-email="@ViewBag.ThisUser">
                            <button class="btn" id="isFavorite" onclick="popupText()">
                                <i class="fa fa-heart"></i>
                            </button></a>
                    }
                    else if(ViewBag.ThisUser != null && (_postController!.IsAFavorite(post.ID, ViewBag.ThisUser) || !post.Poster.Equals(_userController.RetrieveID(ViewBag.ThisUser))))
                    {
                        <a asp-action="AddFavorite" asp-route-id="@post.ID" asp-route-email="@ViewBag.ThisUser">
                            <button class="btn" id="isNotFavorite" onclick="popupText()">
                                <i class="fa fa-heart"></i>
                            </button></a>
                    }
                    else if (ViewBag.ThisUser == null)
                    {
                        <a  asp-area="Identity" asp-page="/Account/Login"> <button class="button" id="notSignedIn"><span>Sign in to add favorite </span> </button></a>
                    }
                    else
                    {
                        <a asp-action="EditPost" asp-route-id="@post.ID">Edit your post</a>
                    }


                </td>
            </tr>
        }
        </tbody>
</table>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}