@page
@using ChalmersBookExchange.Views.Home
@using ChalmersBookExchange.Controllers
@model ChalmersBookExchange.Views.Home.CreatePostModel
@inject IPostController _postController

<h1>@ViewBag.Title</h1>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
    }
    .btn:hover {
      color: red;
      }
</style>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Course Code</th>
                <th>Price</th>
                <th>Location</th>
                <th>Shippable</th>
                <th>Meetup</th>
            </tr>
        </thead>
        <tbody>
        
        @foreach (var post in _postController.GetAllPosts())
        {
            <tr>
                <td>@post.BookName</td>
                <td>@post.CourseCode</td>
                <td>@post.Price:-</td>
                <td>@post.Location</td>
                <td>@post.Shippable</td>
                <td>@post.Meetup</td>
                <td><a asp-action="Index" asp-route-id="@post.ID"><button class="btn"><i class="fa fa-heart"></i> </button></a></td>
            </tr>
        }
        </tbody>
</table>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}