@page
@using ChalmersBookExchange.Views.Home
@using ChalmersBookExchange.Controllers
@using ChalmersBookExchange.Domain

@inject IPostController _postController


<form action="SearchPost" method="post">
   
    <table>
        <tr>
            <td>Book Name: </td>
            <td><input type="text" name="BookName"/></td>
        </tr>
        <tr>
            <td>Course code: </td>
            <td><input type="text" name="CourseCode"/></td>
        </tr>
        <tr>
            <td>Minimum price: </td>
            <td><input type="number" name="minPrice"/></td>
        </tr>
        <tr>
            <td>Maximum price: </td>
            <td><input type="number" name="maxPrice"/></td>
        </tr>
        <tr>
            <td>Do you want the seller to be able to ship the book? </td>
            <td><input type="checkbox" name="Shippable"/></td>
        </tr>
        <tr>
            <td>Do you want the seller to be able to meet up to sell the book? </td>
            <td><input type="checkbox" name="Meetup"/></td>
        </tr>
    </table>
    <tr>
        <td colspan="2"><input type="submit" value="Search"/></td>
    </tr>
</form>
<h1>@ViewBag.Title</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Course Code</th>
                <th>Price</th>
                <th>Location</th>
                <th>Shippable</th>
                <th>Meetup</th>
            </tr>
        </thead>
        <tbody>
        
        @foreach (var post in ViewBag.Message)
        {
            <tr>
                <td>@post.BookName</td>
                <td>@post.CourseCode</td>
                <td>@post.Price</td>
                <td>@post.Location</td>
                <td>@post.Shippable</td>
                <td>@post.Meetup</td>
                <td> <a asp-action="GoToPost" asp-route-id="@post.ID">Go to Post</a></td>
            </tr>
        }
        </tbody>
</table>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}